
.welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    color: @black;
    font-size: 2rem;
    
    &__text {
        position: relative;
        display: flex;
        width: auto;
        margin: 5% auto;
        padding: 20px 30px;
        color: @mText;
        font-size: 2rem;
        backdrop-filter: blur(3px);
        @media screen and (max-width: 575px) {
            padding: 10px 15px;
            font-size: 1.5rem;
        }
        span {
            position: relative;
            z-index: 10;
            overflow: hidden;
            white-space: nowrap;
            font-family: monospace;
        }

        &.bg::before {
            opacity: .3;
        }
    }
    &__help {
        display: flex;
        transition: 1s;
        opacity: 0;
        font-size: 1.5rem;
        @media screen and (max-width: 575px) {
            font-size: 1rem;
        }
        &.visible {
            opacity: 1;
        }
    }
}
