// Colors
:root {
    --black:  #000;
    --white:  #FFF;
    --redError: rgb(197, 70, 70);
    .darkmode {
        --bg: #1B1A1D;
        --text: rgb(219, 219, 219);
        --blue:#94a8f9;
    }
    .lightmode {
        --bg: #FFF;
        --text: #3E3E3E;
        --blue: #5264AE;
    }

    .darkmode, .lightmode {
        color: @mText;
    }
};

@black: var(--black);
@white: var(--white);

@redError: var(--redError);

@mInputBlue: var(--blue);
@mBg: var(--bg);
@mText: var(--text);